.hero_section{
    padding: 10px 20px;
    background-color:transparent;
}
.hero_image{
    padding: 10px 20px; 
}
.hero_image>img{
    object-fit: contain;
    height:350px;
}

.hero_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero_text>h1{
    color: #2EC4B6;
    font-family: 'Montserrat', sans-serif;
}

.hero_text>h5{
    font-family: 'Zen Dots', sans-serif; 
    color:#fdfffc;
    font-size: 18px;
    word-spacing: 2px;
}

.hero_text>button{
    border:1px solid white;
    background-color: black;
    color:white;
    padding: 10px 20px;
    width:50%;
}

.hero_text>button:hover{
    border:2px solid #2EC4B6;
}

.hero-animated-img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.hero-animated-img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}