.project_item_class{
    max-width: 300px;
    height:400px;
    margin:10px 10px;
    
    
}

.project_class{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.cardcontent{
  height: 150px;
}
  
  .project_item_class:hover {
    box-shadow: 0px 30px 10px -10px rgba(0, 0, 0, 0.4);
  }